<nav class="breadcrumbs breadcrumbs--large margin-y-md">
  <%= link_to 'Feeds', feeds_path, class: "breadcrumbs__link" %>
  <div class="breadcrumbs__separator">
    <span class="material-symbols-outlined icon">chevron_right</span>
  </div>
  <span class="breadcrumbs__text">
    <%= @feed.name %>
  </span>
</nav>

<header class="content-header">
  <div class="content-header__details">
    <h1 class="content-header__title">
      <%= @feed.name %>
    </h1>
  </div>
</header>

<div class="flex flex-col gap-md">
  <div class="text-pair text-pair--inline">
    <span class="text-pair__title">Name:</span>
    <span class="text-pair__subtitle"><%= @feed.name %></span>
  </div>
  <div class="text-pair text-pair--inline">
    <span class="text-pair__title">Members:</span>
    <span class="text-pair__subtitle"><%= @feed.member_count %></span>
  </div>

  <div class="divider"></div>

  <header class="content-header">
    <div class="content-header__details">
      <h2 class="content-header__title">Members</h2>
    </div>
  </header>

  <div class="flex flex-col gap-md" id="users">
    <%= render @feed.users.alphabetically, feed: @feed %>
  </div>

  <div class="divider"></div>

  <header class="content-header">
    <div class="content-header__details">
      <h2 class="content-header__title">Subscriptions</h2>
    </div>
  </header>

  <h3>Podcasts</h3>
  <div class="flex flex-col gap-md" id="podcasts">
    <%= render @feed.podcasts %>
  </div>

  <h3>Newspapers</h3>
  <div class="flex flex-col gap-md" id="newspapers">
    <%= render @feed.newspapers %>
  </div>
</div>
