<nav class="breadcrumbs breadcrumbs--large margin-y-md">
  <%= link_to 'Podcasts', podcasts_path, class: "breadcrumbs__link" %>
  <div class="breadcrumbs__separator">
    <span class="material-symbols-outlined icon">chevron_right</span>
  </div>
  <span class="breadcrumbs__text">
    <%= @podcast.name %>
  </span>
</nav>

<header class="content-header">
  <div class="content-header__details">
    <h1 class="content-header__title">
      <%= @podcast.name %>
    </h1>
  </div>
</header>

<div class="flex flex-col gap-md">
  <div class="text-pair text-pair--inline">
    <span class="text-pair__title">Name:</span>
    <span class="text-pair__subtitle"><%= @podcast.name %></span>
  </div>

  <div class="divider"></div>

  <header class="content-header">
    <div class="content-header__details">
      <h2 class="content-header__title">Subscribers</h2>
    </div>
  </header>

  <h3>Users</h3>
  <div class="flex flex-col gap-md" id="users">
    <%= render @podcast.users.alphabetically %>
  </div>

  <h3>Feeds</h3>
  <div class="flex flex-col gap-md" id="feeds">
    <%= render @podcast.feeds %>
  </div>
</div>
